.app__login {
  //background: #000 repeating-linear-gradient(0deg, transparent, transparent 2rem, rgba(#fff, 0.2) 2rem, rgba(#fff, 0.2) 4rem) fixed;
  color: #fff;
  min-height: 100vh;
  position: relative;

  .app__container {
    position: relative;
    z-index: 10;
  }

  &__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }

  h1 {
    color: #000;
    line-height: 1.4;
    margin-bottom: $grid-gutter-width;
    text-align: center;
  }
}
